doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='bundle.css', rel='stylesheet', type='text/css')
  body
    h1= audit.stats.total
    ul
      each count, color in audit.stats.counts
        li
          strong= color
          span= count
